@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #0A1F44;
    --secondary-color: #E5E7EB;
    --accent: #3B82F6;
    --success: #22C55E;
    --warning: #F59E0B;
    --error: #EF4444;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 1px solid red;
}

body {
    display: flex;
}

.Lside-part {
    height: 100vh;
    width: 20%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PROFILE SECTION */
.lblprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    text-align: center;
}

.profile {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.lblprofile h2 {
    margin-top: 15px;
    font-size: 1.1rem;
}

/* NAV */
.side-navbar {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.side-navbar button {

    width: 300px;
    margin-bottom: 10px;
}

.addUser {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}


.right-side {
    background-color: #0A1F44;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-frm-container {
    background-color: whitesmoke;
    height: 600px;
    width: 600px;
    padding: 24px;
}

.reg-frm-container h1 {
    margin-bottom: 50px;
    text-align: center;
}

.reg-frm-container form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* ROW LAYOUT */
.form-row {
    display: flex;
    gap: 16px;
}

/* COLUMN LAYOUT */
.form-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* LABEL + INPUT GROUP */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1; /* 👈 makes First & Last Name equal width */
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}

.form-actions button {
    height: 50px;
    width: 250px;
}